.icon {
  height: 100%;
  width: 100%;
  fill: white;
  stroke: white;
}

h1 {
  font-size: 2rem;
}

#dash-container {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 20vh 40vh 40vh
}

/* Sidebar styles */

#side-bar {
  grid-area: 1 / 1 / -1 / 2;
  background-color: green;
  display: grid;
  grid-template-rows: 10vh 40vh 50vh;
  overflow: auto;
}

#dash-title {
  display: grid;
  grid-template-columns: 20% 80%;
}

.side-bar-item {
  display: grid;
  grid-template-columns: 20% 80%;
}

/* Navbar styles */

#navbar {
  grid-area: 1 / 2 / 2 / -1;
  background-color: rebeccapurple;
}

/* Main content styles */

#main-cont {
  grid-area: 2 / 2 / -1 / 3;
  background-color: orange;
  overflow: auto;
}

/* Announcement Styles */

#announcements {
  grid-area: 2 / 3 / 3 / -1;
  background-color: brown;
}

/* Trending Styles */

#trending {
  grid-area: 3 / 3 / -1 / -1;
  background-color: aquamarine;
}