@font-face {
  font-family: 'abelregular';
  src: url('fonts/abel-regular-webfont.woff2') format('woff2'),
       url('fonts/abel-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'acknowledgementmedium';
  src: url('fonts/acknowledgement-webfont.woff2') format('woff2'),
       url('fonts/acknowledgement-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
  font-family: "acknowledgementmedium", sans-serif;
}

h2 {
  font-size: 2.4rem;
  font-family: "acknowledgementmedium", sans-serif;
}

p {
  font-family: "abelregular", sans-serif;
  font-size: 2rem;
  line-height: 1.3;
  word-spacing: 0.6rem;
}